<br>
<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://th.bing.com/th/id/OIP.qjGa9Z64kYmA740XFqrKpwAAAA?w=156&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr Rajitha L</h5>
                          <p class="card-text">Oncologist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/54/f8/54f8a68a-539b-4b77-8f88-1d448febe3e7/as_3.png__253x285_q85_crop_subsampling-2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Sanooja Pinki</h5>
                          <p class="card-text">Senior Blood CENT Specialist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/ac/b6/acb6d418-5ce8-48dc-a98f-d40445f97765/dr-lekshmi-nair.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Lakshmi Nair </h5>
                          <p class="card-text">Physical Medicine Specialist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://th.bing.com/th/id/OIP.bB6JgLkTLFmXMEyQtRp0IgAAAA?w=156&h=180&c=7&r=0&o=5&pid=1.7" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr Sneha Ann Abraham</h5>
                          <p class="card-text">Infertility Specialist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/f0/19/f019d643-a9f6-4825-9046-977031e60caf/dr-radhamony.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Radhamony D </h5>
                          <p class="card-text">Obstetrician & Gynaecologist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                    <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/dc/5e/dc5e77fa-2c25-4efc-8f4b-60a3a4e2bbc2/dr-neethu-gupta.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Neetu Gupta </h5>
                          <p class="card-text">Pediatrician</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/59/c1/59c1fe14-97a6-44ef-b337-6603f098fd59/dr-deepthi.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Deepthi </h5>
                          <p class="card-text">Best Radiology Specialist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/43/9f/439f7736-1835-4d71-8d2e-7d64af2e507b/dr-praveen-muraleedharan.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Praveen Muralidharan </h5>
                          <p class="card-text">Kidney Specialist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/35/d5/35d5d96a-50c4-4882-9f65-499baa02c011/dr-ameer.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr Ameer K A </h5>
                          <p class="card-text">Respiratory Medicine and Critical Care </p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/22/41/2241ccd6-3656-4a80-bc02-d96def0e604f/dr-hari.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Hari T A </h5>
                          <p class="card-text">Rheumatologist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/db/fb/dbfb506d-1230-490f-89a9-b8ea74074fc7/dr-mathew-thomas.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Mathew Thomas</h5>
                          <p class="card-text">Rheumatologist</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kimshealth.org/media/filer_public_thumbnails/filer_public/97/f8/97f8149e-76d2-4d1d-83d1-b3527cae4d82/dr-gowri.png__253x285_q85_crop_subsampling-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Dr. Gowri Govind </h5>
                          <p class="card-text">Ayurveda Doctor</p>
                          <a href="#" class="btn btn-primary">View</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
